<!DOCTYPE html>
<html>
<head>
    <title>YOLOv8 Live Dashboard</title>
    <style>
        body { text-align: center; font-family: Arial; }
        img { border: 2px solid #444; margin-top: 20px; }
    </style>
</head>
<body>
    <h1>🔴 YOLOv8 Live Feed</h1>
    <img src="/video" width="720" />

    <div id="counts"></div>

    
<script>
setInterval(() => {
    fetch('/counts')
        .then(res => res.json())
        .then(data => {
            document.getElementById("counts").innerHTML = 
                Object.entries(data).map(([k, v]) => `<p>${k}: ${v}</p>`).join('');
        });
}, 2000);
</script>

</body>
</html>
